:root {
    --mainColor: #1e90ff;
    --white: #ffffff;
}

body, a {
    color: var(--mainColor);
}

/* header{
    text-align: center;
    margin: 5%;
    color: var(--mainColor)
}*/

.subheader {
    color: var(--mainColor);
}

#angerInput {
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
    height: 150px;
}

#angerInput:focus{
    outline: 0px;
}

.bold {
    text-shadow: 0 0 2px var(--mainColor);
    transition: 0.6s;
}

.unbold {
    text-shadow: none;
    transition: 0.6s;
}

h1 {
    color: var(--mainColor);
    text-align: center;
    padding-top: 50px;
}

.toggleEvaluationBtn {
    margin: auto;
    display: block;
}

.add-padding {
    padding-bottom: 50px;
}

.container {
    width: 100%
}

.white {
    color: white;
}

.x{
    padding-left: 10px;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
  }

.border-bottom {
    border-bottom: solid 1px var(--mainColor);
}

ul.menu{
    padding: 50px 0px 0px 50px;
    font-size: 2rem;
    color: var(--mainColor);
}

li {
    list-style-type: none;
}

ul li a {
    color: var(--mainColor);
}

#restartEvaluationBtn{
    display: none;
}