:root {
    --mainColor: #33C3F0;
}

h1 {
    text-align: center;
    font-family: 'Caveat', cursive;
    color: var(--mainColor);
}


#evaluationContainer {
    padding:20px 20px 20px 20px;
}

#closeAboutBtn {
    width: 100%;
}

.white {
    opacity: 0;
}

/* 
show last emotion
.bold {
    text-shadow: 0 0 2px var(--mainColor);
    transition: 0.6s;
}

.unbold {
    text-shadow: none;
    transition: 0.6s;
} */

#feelingsInput {
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    height: 150px; 
}

#feelingsInput:focus{
    outline: 0px;
}

.toggleEvaluationBtn {
    margin: auto;
    display: block;
}

#restartEvaluationBtn{
    display: none;
}

.border-bottom {
    border-bottom: solid 1px var(--mainColor);
}

#aboutContainer {
    display: none;
    padding: 2rem;
}

#aboutButton {
    margin: 40px 0px 0px 50px;
    font-size: 2rem;
}

#wordsHints {
    display: none;
    overflow:scroll;
    width:100%;
}

#wordsColumn {
width: 150vw;
}

@media only screen and (min-width: 768px) {

    #wordsHints{
        overflow: auto;
    }
    #wordsColumn {
        width: 100%;
        }

    #evaluationContainer>h1 {
        font-size: 4em;
    }



    #evaluationContainer {
        padding:20px 200px 20px 200px;
    }
    
    #feelingsInput {
        border-width: 10px;
        height: 150px;
    }

    .add-padding-bottom {
        padding-bottom: 50px;
    }

    .add-padding-left{
        padding-left: 10px;
    }
}